@using ProjetoFim.Resources
@{
    ViewBag.Title = Strings.calendario_calendario_de_disponibilidade;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css' rel='stylesheet' />
}

<div class="admin-page-container">
    <div class="admin-page-header">
        <h1>@Strings.calendario_calendario_de_disponibilidade</h1>
        <p>@Strings.calendario_veja_e_gira_a_disponibilidade_dos_seus_a</p>
    </div>

    <div id="calendar-container" class="calendar-container"></div>
</div>

@section scripts {
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar-container');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: { left: 'prev,next today', center: 'title', right: 'dayGridMonth,timeGridWeek,listWeek' },
                events: '@Url.Action("GetCalendarEvents", "Home")',
                locale: 'pt'
            });
            calendar.render();
        });
    </script>
}
