@{
    ViewBag.Title = "Mensagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container full-height">
    <div class="messages-container">
        <div class="conversations-list">
            <h2>Todas as Mensagens</h2>
            <div class="conversation-item active">
                <div class="convo-profile-pic"></div>
                <div class="convo-details">
                    <strong>Nome</strong>
                    <span>data</span>
                </div>
            </div>
            <div class="conversation-item">
                <div class="convo-profile-pic"></div>
                <div class="convo-details">
                    <strong>Nome 2</strong>
                    <span>data</span>
                </div>
            </div>
            <div class="conversation-item">
                <div class="convo-profile-pic"></div>
                <div class="convo-details">
                    <strong>Nome 3</strong>
                    <span>data</span>
                </div>
            </div>
        </div>
        <div class="message-view">
            <div class="message-placeholder">
                <h1>Mensagem</h1>
            </div>
            <div class="message-input-area">
                <input type="text" placeholder="Escrever..." />
                <button><i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</div>